<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to "Park Search", root_path, class: "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <%= form_tag :parks, method: :get, class: "form-inline" do %>
        <div class="form-group search-field">
          <%= select_tag :state, options_for_select(us_states) %>
          <%= submit_tag "Find Parks", class: "btn btn-primary" %><br><br>
          <% if !@parks_info.nil? %>
            Number of Parks: <%= @parks_info.total %><br><br>
            <% @parks_info.data.each do |park| %>
              <section class='park' id='park-<%= park[:id] %>'>
                <%= park[:fullName] %><br><br>
                <% if !park[:operatingHours][0].nil? %>
                  Hours: <br>
                  <% park[:operatingHours][0][:standardHours].each do |day, hours| %>
                    <%= day.to_s.capitalize %>: <%= hours %>
                  <% end %><br><br>
                <% end %>
                Directions: <br><%= park[:directionsInfo] %><br><br>
                Description: <br><%= park[:description] %><br><br><br><br>
              </section>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</nav>
