<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to "Park Search", root_path, class: "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <%= form_tag :parks, method: :get, class: "form-inline" do %>
        <div class="form-group search-field">
          <%= select_tag :state, options_for_select(us_states) %>
          <%= submit_tag "Find Parks", class: "btn btn-primary" %><br><br>
        </div>
      <% end %>
    </ul>
  </div>
</nav>
<% if !@state_params.nil? %>
  <% if !@parks_info.nil? %>
  <h1>  Number of Parks: <%= @parks_info.total %><br></h1>
    <% @parks_info.data.each do |park| %>
      <section class='park' id='park-<%= park[:id] %>'>
      <h2> <%= park[:fullName] %> </h2>
        <% if !park[:operatingHours][0].nil? %>
          <h3>Hours:</h3>
          <% park[:operatingHours][0][:standardHours].each do |day, hours| %>
          <p>  <%= day.to_s.capitalize %>: <%= hours %></p>
          <% end %>
        <% end %>
        <h3> Directions: </h3>
        <p><%= park[:directionsInfo] %></p>
        <h3> Description:</h3>
        <p><%= park[:description] %></p><br>
      </section>
    <% end %>
  <% end %>
<% end %>
